.pagination-btn-container {
  display: flex;
  gap: 5px;
}

.fbtns {
  display: flex;
  gap: 2px;
}

.page-nos {
  display: flex;
  gap: 2px;
}

.bbtns {
  display: flex;
  gap: 2px;
}

.page-btn {
  border: 1px solid;
  width: 30px;
  height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 5px;
  cursor: pointer;
  border-radius: 2px;
}
